* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Hero-section {
    background: url("/images/pic1.png");
    background-size: cover;
}



.Hero-section > h1, h3 {
    text-shadow: 0 0 1px black;
}


#main-image-1 {
    background: url("images/co-opSociety.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1.2) contrast(1.8);
}


#main-image-2 {
    background: url("images/kabati.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1) contrast(1);
}


#main-image-3  {
    background: url("images/watuka-gate.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    filter: brightness(1.1) contrast(1.2);
}


.curved-text {
    animation: rotateText 20s linear infinite;
}


.curved-text, span {
    position: absolute;
    left: 45%;
    top: -12%;
    font-size: 1.2rem;
    font-weight: bold;
    transform-origin: 0 6.9rem;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(100deg);
    }
}

@media screen and (min-width: 768px) {
    .Hero-section {
        width: 100%;
        background: 
            url("images/mtKenya.png"), 
            url('images/dna.png'),   
            linear-gradient(to right, #1e4b73, #ffffff00);
        background-size: 
            80%, contain,cover;
        background-repeat: 
            no-repeat, no-repeat, no-repeat;
        background-position: 
            center, bottom right, left;
    }
}
